<%- include('./top.ejs')%>
<div class="row blog-item px-3 pb-5">
    <div class="col-md-5">
        <img class="img-fluid mb-4 mb-md-0" src="<%= project.image %>" alt="Image">
    </div>
    <div class="col-md-7">
        <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold">
            <%= project.title %>
        </h3>
        <div class="d-flex mb-3">
            <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i>
                <%= project.date %>
            </small>
            <!-- <small class="mr-2 text-muted"><i class="fa fa-folder"></i> Web Design</small> -->
        </div>
        <p>
            <%= project.description %>
        </p>
        <% if(project.type==='bot' ) { %>
            <a class="btn btn-link p-0" href="<%= project.url%>">Ссылка на бота<i
                    class="fa fa-angle-right"></i></a>
            <% } else {%> <a class="btn btn-link p-0" href="/site/<%= project.id%>">Подробнее<i
                        class="fa fa-angle-right"></i></a>
                <% } %>
    </div>
</div>
<%- include('./bottom.ejs')%>